
	
<app-navbar></app-navbar>

<section  ng-view autoscroll *ngFor="let Profile of profile ; let i = index">

<div class="jumbotron" id="jumbo">
	<div class="container text-center">
		<h1 style="color: white;"> {{Profile.name}}</h1>

	</div> <!--end container-->
</div>




<div class="container" style="padding: 20px 0px 0px 0px;">
	<img src="{{Profile.DP}}" class="img-circle img-responsive img-responsive">
	
</div>


<div class="container">

<div style="padding: 40px 0px 40px 0px;">
		<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  			<span style="font-size: 25px; background-color: #f9f9f9; padding: 50px;">
    			Description <!--Padding is optional-->
  			</span>
		</div>	
</div>



		<p class="text-justify" >
		{{Profile.Profile.Bio}}

</div>





<div class="container" style="padding: 40px 0px 40px 0px;">
		<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  			<span style="font-size: 25px; background-color: #f9f9f9; padding: 50px;">
    			Services  <!--Padding is optional-->
  			</span>
		</div>



	<div class="row" style="padding-top: 50px;">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>BEng. in Mechatronic Engineering</h4>
					<blockquote>
						<footer> <a href="https://www4.dcu.ie/courses/undergraduate/electronics/mechatronic-engineering.shtml" style="text-decoration: none;" id="college-name"><font face="verdana">Dublin City University</font></a></footer>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>


 <!--<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">


   
     <p>
  	profile works!
	</p>

     </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
  </div>-->


</section>
<app-footer></app-footer>



