
	

<app-navbar></app-navbar>
<section  ng-view autoscroll *ngFor="let Profile of profile ; let i = index">

<div class="jumbotron" id="jumbo">
	<div class="container text-center">
		<h1 style="color: white;"> {{Profile.name}}</h1>

	</div> <!--end container-->
</div>




<div class="container" style="padding: 20px 0px 0px 0px;">
	<img src="{{Profile.DP}}" width="200" height="121" class="img-circle img-responsive img-responsive center">
	
</div>


<div class="container">

<div style="padding: 40px 0px 40px 0px;">
		<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  			<span style="font-size: 25px; background-color: #f9f9f9; padding: 20px;">
    			Description <!--Padding is optional-->
  			</span>
		</div>	
</div>



		<p class="text-justify" >
		{{Profile.Profile.Bio}}

</div>



<div class="container">

<div style="padding: 40px 0px 40px 0px;">
		<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  			<span style="font-size: 25px; background-color: #f9f9f9; padding: 20px;">
    			Additional Info <!--Padding is optional-->
  			</span>
		</div>	
</div>

		<div>
				<div class="row">
					<div class="col-md-4 col-sm-4 ">
						<div class="panel panel-default text-center">
							<div class="panel-body">
								<img  src="../../../assets/images/icons8-phone-64.png">
								<h4>{{Profile.Profile.Info.phone}}</h4>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 ">
						<div class="panel panel-default text-center">
							<div class="panel-body">
								<img  src="../../../assets/images/icons8-email-64.png">
								<h4>{{Profile.Profile.Info.email}}</h4>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="panel panel-default text-center">
							<div class="panel-body">
								<img src="../../../assets/images/icons8-location-64.png">
								<h4>{{Profile.Profile.Info.location.country}}</h4>
							</div>
						</div>
					</div>
				</div>
		</div>	



	<div class="row">
		<div class="col-sm-6 col-md-6">
			<h4>Head Office</h4>
			<p>{{Profile.Profile.Info.location.address}}</p>
				

			<h4>Phone(s)</h4>
			<p>{{Profile.Profile.Info.phone}}</p>

			<h4>Website</h4>
			<a href="{{Profile.Profile.Info.website}}">{{Profile.Profile.Info.website}}</a>

			<h4>Email(s)</h4>
			<p>{{Profile.Profile.Info.email}}</p>

			<h4>Opening Times</h4>
			<p>Monday: {{Profile.Profile.Info.times.mon}}</p>
			<p>Tuesday: {{Profile.Profile.Info.times.tues}}</p>
			<p>Wednesday: {{Profile.Profile.Info.times.wed}}</p>
			<p>Thursday: {{Profile.Profile.Info.times.thurs}}</p>
			<p>Friday: {{Profile.Profile.Info.times.fri}}</p>
			<p>Saturday: {{Profile.Profile.Info.times.sat}}</p> 
			<p>Sunday: {{Profile.Profile.Info.times.sun}}</p>


		</div>

		<div class="col-sm-6 col-md-6">
			<div class="gmap_canvas">
			<img class="img-thumbnail img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=1+ALEXANDRA+Walk,CLANE,IRELAND&zoom=17&size=600x400&maptype=roadmap&markers=color:red%7C1+ALEXANDRA+Walk,CLANE,IRELAND&key={{GMAP_API}}">
		</div>

		</div>


	</div>


</div>


<div class="container" >
		<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  			<span style="font-size: 25px; background-color: #f9f9f9; padding: 20px; ">
    			Services  <!--Padding is optional-->
  			</span>
		</div>



	<div class="" style="padding-top: 20px;" >
					<ul class="list-inline">
						<li  *ngFor="let services of Profile.services ; let s = index"> 
						<button  class="btn btn-info">{{services}}</button>

						</li>  
					</ul>
	</div>
</div>






</section>
<app-footer></app-footer>



