p{

	color: black;
}

section{

	padding-top: 75px;
	padding-right: 0px;

	background-color: #f9f9f9;

	border:1px solid black;

	width: 100vw;
	min-height: 100vh;
}

ul{
	background: white;
	/*border:1px solid black;*/
	border-radius:10px;
}

.result-img{


}

.result-view{

	padding-top: 20px;
	padding-bottom: 20px;
	list-style-type:none;

}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 50vh;
  animation: spin 2s linear infinite;
  visibility: hidden;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}